@font-face {
  font-family: adm-medium;
  src: url('static/taisyoKatujippoi7.ttf') format(truetype);
  font-display: swap;
}

@font-face {
  font-family: adm-regular;
  src: url('static/AaGuDianKeBenSong-2.ttf') format(truetype);
  font-display: swap;
}

@font-face {
  font-family: adm-light;
  src: url('static/NewTegomin-Regular.ttf') format(truetype);
  font-display: swap;
}

@font-face {
  font-family: adm-bold;
  src: url('static/WenYue_XHGuYaSong_JRFC.otf') format(opentype);
  font-display: swap;
}

@font-face {
  font-family: adm-thin;
  src: url('static/WenYue_MinGuoFangSong_F.otf') format(opentype);
  font-display: swap;
}
